
.shepherd-theme-custom {
  --shepherd-theme-primary: #7440ff;
  --shepherd-text-color: #444;
}

.shepherd-button {
  background: var(--shepherd-theme-primary) !important;
  border-radius: 20px !important;
  padding: 8px 16px !important;
}

.shepherd-text {
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.shepherd-footer {
  padding: 8px !important;
}
